<!-- music begin -->
<!-- 注释音乐
<div id="music" title="音乐">
    <audio id="myAudio" autoplay="" loop="" hidden="true">
        <source src="http://192.168.20.2/IXC45350c49402e068c1cec3c149e41c169/20171123114535/7ba16adf880a1c633170ceaa4cf7979d/ymusic/a201/7d78/e420/e12da94e22a825f422ddebdfc50e8520.mp3" type="audio/mpeg">
        <source src="http://192.168.20.2/IXC45350c49402e068c1cec3c149e41c169/20171123114558/8d5e3dbf49dd2a1be4f74c62fb31ddd3/ymusic/a201/7d78/e420/e12da94e22a825f422ddebdfc50e8520.mp3" type="audio/ogg">
        Your browser does not support the audio element.
    </audio>
</div>
 -->
<!-- music end -->
<!-- canvas begin -->
<canvas id="canvas" unselectable="on"></canvas>
<!-- canvas end -->
<!-- canvasline.js -->
<script type="text/javascript" src="{{ site.baseurl }}/media/js/canvasline.js"></script>
<!-- move-cat begin -->
<!--
<div class="move-cat"></div>
-->
<!-- move-cat end -->
<!-- footer begin -->
<footer class="blog-footer footer">
    <p>
        <a href="javascript:">Copyright © 2016-2017</a>
        <a href="http://www.zqinqing.com">山抹微云 - 周秦卿.</a>
    </p>
    <p>
        <a href="javascript:">All Rights Reserved.</a>
        <a href="javascript:">粤ICP备16107530号</a>
    </p>
    <!-- flowers begin -->
    <div class="flowers"></div>
    <!-- flowers end -->
</footer>
<!-- footer end -->

