<head>
    <!-- 编码格式为UTF - 8 -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <!-- meta使用viewport以确保页面可自由缩放 -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no,width=device-width,minimum-scale=1.0,maximum-scale=1.0">
    <!-- 让IE的文档模式永远都是最新 -->
    <meta http-equiv="X-UA-Compatible" content="IE=11;IE=10;IE=9; IE=8; IE=7; IE=dege" />
    <!-- 格式检测、禁止把数字转化为拨号链接 禁止作为邮箱地址-->
    <meta name="format-detection" content="telephone=no,email=no" />
    <!-- 设置Web应用是否以全屏模式运行-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 设置Web App的状态栏（屏幕顶部栏）的样式 改变顶部状态条的颜色-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- Keywords 网站关键字 -->
    <meta name="Keywords" content="周秦卿, 个人博客, 个人网站, web前端,html,css,JavaScript,">
    <!-- Description 描述 -->
    <meta name="description" content="WEB前端教程,学习笔记,山抹微云 - 周秦卿,周秦卿的成长记录,周秦卿的个人博客">
    <!-- Author  作者 -->
    <meta name="author" content="周秦卿,zhouqinqing,zqinqing">
    <!-- 引入网站顶部标志 favicon.ico  -->
    <link rel="shortcut icon" type="image/x-icon" href="http://www.zqinqing.com/media/images/favicon.ico" media="screen" />
    <!-- jQuery-ui.css -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <!-- pace-theme-flash.css -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/media/css/pace-theme-flash.css">
    <!-- bootstrap.min.css -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/media/css/bootstrap.min.css">
    <!-- styles.css -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles.css">
    <!-- jQuery Core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <!-- jquery-ui Core JavaScript  -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <!-- scroll-reveal Core JavaScript -->
    <script type="text/javascript" src="{{ site.baseurl }}/media/js/scroll-reveal.js"></script>
    <!-- Common Core JavaScript -->
    <script type="text/javascript" src="{{ site.baseurl }}/media/js/common.js"></script>
    <!-- tagcloud Core JavaScript-->
    <script type="text/javascript" src="{{ site.baseurl }}/media/js/jquery.tagcloud.js" charset="utf-8"></script>
    <!-- pace.min.js -->
    <script type="text/javascript" src="{{ site.baseurl }}/media/js/pace.min.js"></script>
    <!-- bootstrap.min.js -->
    <script type="text/javascript" src="{{ site.baseurl }}/media/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>{{ page.title }}</title>
    
    <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?2f276bb5d92b749e9bebfd418b876095";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>