<!-- footer begin -->
<header class="header" unselectable="on">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">导航切换</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.zqinqing.com" id="logo" title="点我返回首页O(∩_∩)O~"> 
                    <img src="http://oxoz3bzmd.bkt.clouddn.com/17-10-12/27200959.jpg" alt="logo" style="height: 100%">
                </a>
                <a class="navbar-brand" href="http://www.zqinqing.com" id="headline" title="点我返回首页O(∩_∩)O~">{{ page.title }}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- <li class="active"><a href="javascript:">首页</a></li> -->
                    <li><a href="http://www.zqinqing.com">首页</a></li>
                    <li><a href="http://www.zqinqing.com/%E6%97%A5%E5%BF%97/2017/09/25/HelloWorld.html">关于</a></li>
                    <li><a href="http://zqinqing.com/categories/#">分类</a></li>
                    <li><a href="http://zqinqing.com/tags/#">标签</a></li>
                    <li class="dropdown">
                        <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:">待续</a></li>
                            <li><a href="javascript:">待续</a></li>
                            <li><a href="javascript:">待续</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">待续</li>
                            <li><a href="javascript:">待续</a></li>
                            <li><a href="javascript:">待续</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>{% include search.html %}</li>
                </ul>             
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</header>
<!-- header end -->